/* ............................ G E R A L .............................. */

body {
	background-image: url('../img/background.jpg') !important;
	/* background-color: #ecf0f1 !important; */
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: 100%;
	background-size: cover; 
}

/* ............................ I N D E X .............................. */

#logo {
	width: 200px;
	border: 5px;
	border-radius: 15px;
	border-style: solid;
}

/* ............................ H I S T O R I A ........................ */

.historia {
	width: 70%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background-image: url('../img/backgroundForm.png');
	border: 2px;
	border-color: #9dc2c4;
	border-radius: 5px;
	border-style: solid;
}

.logoHistoria {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#tituloHistoria {
	text-align: center;
}

#paragrafoHistoria {
	margin-left: 5%;
	margin-right: 5%;
}

/* ............................ ........................ */

.main{
	margin-top: 80px;
}

select[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}


.bg-analise{background-color: #81ecec !important;}
.bg-aguardando{background-color:#ffeaa7 !important;}
.bg-confirmado{background-color: #b8e994 !important;}
.bg-cancelado{background-color: #fab1a0 !important;}

.float-button{
	position: fixed !important; 
	bottom: 8px !important; 
	right: 8px !important; 
	padding: 3px !important;
}